.search{
    border-radius: 15px;
    margin-top: 15px;
}
.search::placeholder{
    padding-left: 25px;
}
.input-icons i {
    position: absolute;
}
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
.icon {
    padding: 22px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
.label{
    margin-top: 20px;
    margin-left: 25px;
}
.label1{
    margin-left: 25px;
}
.input{
    margin-left: 15px;
}
.date{
    margin-top: 15px;
    border: 2px solid #000;
}
.submit{
    padding: 0 25px;
    margin-left: 40px;
    margin-top: 30px;
}
.footer{
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.searchForm{
    border-right: 2px solid black;
}
.row1{
    border: 2px solid black; 
    height: 520px;
}
.searchArea{
    border-right: 2px solid black;
}
@media only screen and (max-width: 600px) {
    .row1{
        border: 2px solid black; 
        height: 800px;
    }
    .searchArea{
        border-right: none;    
    }
    .footer{
        left: 0;
        position: sticky;
        text-align: center;
        bottom: 0;
        width: 100%;
    }
  }